.venv
dataset/dataset_1_per_person
dataset/dataset_100_subjects
.idea
adversarial_data
results/FGSM NT vs NN1.docx
models/resnet50_ft_weight.pkl
adversarial_data.zip
dataset_extra_genuine      
detector_dataset 
Untitled-1.py